replicaCount: 1
image:
  repository: acrecomdev12231226.azurecr.io/notification-service
  pullPolicy: IfNotPresent
  tag: "latest"
imagePullSecrets:
  - name: acr-credentials
serviceAccount:
  name: "backend-sa"
service:
  type: ClusterIP
  port: 8083
  targetPort: 8083
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8083
  initialDelaySeconds: 60
readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8083
  initialDelaySeconds: 30
env:
  - name: SPRING_PROFILES_ACTIVE
    value: "prod"
  - name: SERVER_PORT
    value: "8083"
  - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
    value: "eh-ecom.servicebus.windows.net:9093"
  - name: SPRING_MAIL_HOST
    value: "smtp.gmail.com"
  - name: SPRING_MAIL_PORT
    value: "587"
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
