replicaCount: 1
image:
  repository: acrecomdev12251344.azurecr.io/frontend
  pullPolicy: Always
  tag: "latest"
imagePullSecrets:
  - name: acr-credentials
serviceAccount:
  name: "frontend-sa"
service:
  type: LoadBalancer
  port: 80
  targetPort: 80
resources:
  limits:
    cpu: 460m
    memory: 512Mi
  requests:
    cpu: 230m
    memory: 256Mi
livenessProbe:
  httpGet:
    path: /
    port: 80
  initialDelaySeconds: 30
readinessProbe:
  httpGet:
    path: /
    port: 80
  initialDelaySeconds: 15
env:
  - name: API_GATEWAY_URL
    value: "http://api-gateway.backend.svc.cluster.local:8080"
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
