replicaCount: 1
image:
  repository: acrecomdev12262215.azurecr.io/api-gateway
  pullPolicy: Always
  tag: "latest"
imagePullSecrets:
  - name: acr-credentials
serviceAccount:
  name: "backend-sa"
service:
  type: LoadBalancer
  port: 8080
  targetPort: 8080
resources:
  limits:
    cpu: 460m
    memory: 512Mi
  requests:
    cpu: 230m
    memory: 256Mi
livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 90
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
env:
  - name: SPRING_PROFILES_ACTIVE
    value: "prod"
  - name: SERVER_PORT
    value: "8080"
  - name: PRODUCT_SERVICE_URL
    value: "http://product-service:8080"
  - name: ORDER_SERVICE_URL
    value: "http://order-service:8081"
  - name: INVENTORY_SERVICE_URL
    value: "http://inventory-service:8082"
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 75
