replicaCount: 1
image:
  repository: acrecomdev12231416.azurecr.io/api-gateway
  pullPolicy: IfNotPresent
  tag: "latest"
imagePullSecrets:
  - name: acr-credentials
serviceAccount:
  name: "backend-sa"
service:
  type: LoadBalancer
  port: 8080
  targetPort: 8080
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 60
readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 30
env:
  - name: SPRING_PROFILES_ACTIVE
    value: "prod"
  - name: SERVER_PORT
    value: "8080"
  - name: PRODUCT_SERVICE_URL
    value: "http://product-service:8080"
  - name: ORDER_SERVICE_URL
    value: "http://order-service:8081"
  - name: INVENTORY_SERVICE_URL
    value: "http://inventory-service:8082"
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 75
