replicaCount: 1

image:
  repository: acrecomdev12231416.azurecr.io/order-service
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets:
  - name: acr-credentials

serviceAccount:
  create: false
  name: "backend-sa"

service:
  type: ClusterIP
  port: 8081
  targetPort: 8081

resources:
  limits:
    cpu: 460m
    memory: 512Mi
  requests:
    cpu: 230m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /api/actuator/health/liveness
    port: 8081
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /api/actuator/health/readiness
    port: 8081
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "production"
  - name: SERVER_PORT
    value: "8081"
  - name: MYSQL_JDBC_URL
    value: "jdbc:mysql://mysql-ecom.mysql.database.azure.com:3306/ecom_app?allowPublicKeyRetrieval=true&useSSL=false"
  - name: MYSQL_USERNAME
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: mysql-user
  - name: MYSQL_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: mysql-password
  - name: INVENTORY_SERVICE_URL
    value: "http://inventory-service:8082"
  - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
    value: "eh-ecom.servicebus.windows.net:9093"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
