replicaCount: 1
image:
  repository: acrecomdev12231416.azurecr.io/inventory-service
  pullPolicy: IfNotPresent
  tag: "latest"
imagePullSecrets:
  - name: acr-credentials
serviceAccount:
  name: "backend-sa"
service:
  type: ClusterIP
  port: 8082
  targetPort: 8082
resources:
  limits:
    cpu: 150m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
livenessProbe:
  httpGet:
    path: /api/actuator/health/liveness
    port: 8082
  initialDelaySeconds: 60
readinessProbe:
  httpGet:
    path: /api/actuator/health/readiness
    port: 8082
  initialDelaySeconds: 30
env:
  - name: SPRING_PROFILES_ACTIVE
    value: "production"
  - name: SERVER_PORT
    value: "8082"
  - name: MYSQL_JDBC_URL
    value: "jdbc:mysql://mysql-ecom.mysql.database.azure.com:3306/ecom_app?allowPublicKeyRetrieval=true&useSSL=false"
  - name: MYSQL_USERNAME
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: mysql-user
  - name: MYSQL_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: mysql-password
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
