replicaCount: 1
image:
  repository: acrecomdev12191331.azurecr.io/inventory-service
  pullPolicy: IfNotPresent
  tag: "latest"
imagePullSecrets:
  - name: acr-credentials
serviceAccount:
  name: "backend-sa"
service:
  type: ClusterIP
  port: 8082
  targetPort: 8082
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8082
  initialDelaySeconds: 60
readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8082
  initialDelaySeconds: 30
env:
  - name: SPRING_PROFILES_ACTIVE
    value: "prod"
  - name: SERVER_PORT
    value: "8082"
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:mysql://mysql-ecom.mysql.database.azure.com:3306/ecomdb"
  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: mysql-user
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mysql-credentials
        key: mysql-password
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
