replicaCount: 1

image:
  repository: acrecomdev12231416.azurecr.io/product-service
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets:
  - name: acr-credentials

serviceAccount:
  create: false
  name: "backend-sa"

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /api/actuator/health/liveness
    port: 8080
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /api/actuator/health/readiness
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "production"
  - name: COSMOSDB_URI
    valueFrom:
      secretKeyRef:
        name: cosmosdb-credentials
        key: uri
  - name: SERVER_PORT
    value: "8080"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
